/* Western Sydney U Customisations 2016, HW */

/* Make default background colour white on all pages*/
html{background-color: #FFFFFF; !important}
body{background-color: #FFFFFF; !important}

/* make top bar white */
.prm-primary-bg.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar, prm-search-bar.prm-hue1
{background-color: #FFFFFF; !important}

/* make top bar higher, so that the logo can show as bigger */
prm-topbar{height: 90px !important}
prm-logo .product-logo {
    height: 110%;
	padding: 0.25em;
}

/* Search box background changed to white - Helen W - 10/10/2016*/
.prm-primary-bg, prm-spinner.light-on-dark.overlay-cover::after, prm-search-bar {
    background-color: #eeeeee;
}

/*change background colour on main panel to white */
.prm-background, html, body, prm-search-bar .simple-search-wrapper .search-options::after, prm-search-bar .simple-search-wrapper .search-options md-divider, .__xs prm-facet, .__sm prm-facet, .__sm .sidebar, .__xs .sidebar, prm-full-view-cont prm-recomendation-item .media-on-hover .pin-button, prm-full-view-cont .recommendations-title::after, prm-full-view-cont .recommendations-title prm-icon, md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider, md-card .card-content-block {
    background-color: #FFFFFF;
}

/*Switch button to advance search, changing color to branded red - Helen W - 10/10/2016*/
prm-search-bar .search-switch-buttons .switch-to-advanced.md-button {
    color: white;
    background-color: #990033;
}

/*Switch button to simple search, changing color to branded red - Helen W - 10/10/2016*/
prm-search-bar .search-switch-buttons .switch-to-simple.md-button {
    color: white;
    background-color: #990033;
}

/* changing to branded font family */
body {
    font-family: verdana, arial, "Bitstream Vera Sans",helvetica,sans-serif;
}

/* change top nav bar colour to white*/
.prm-primary-bg.prm-hue1, prm-search-bar.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar, prm-topbar.top-nav-bar{
	background-color: #FFFFFF;
	height: 150%
}
.prm-secondary-color, prm-topbar .top-nav-bar {
    color: #FFFFFF;
}

/*changing hovers to grey*/
.hoverable-over-dark:hover:not([disabled]), prm-main-menu[menu-type="full"] .md-button:hover:not([disabled]), prm-main-menu[menu-type="full"] .md-button md-select:hover:not([disabled]):focus, prm-main-menu[menu-type="full"] .md-button .md-input-container-dummy > .md-select-dummy:hover:not([disabled]):focus, prm-main-menu[menu-type="full"] .overlay-menu-item:hover:not([disabled]), prm-main-menu[menu-type="full"] .overlay-menu-item md-select:hover:not([disabled]):focus, prm-main-menu[menu-type="full"] .overlay-menu-item .md-input-container-dummy > .md-select-dummy:hover:not([disabled]):focus, prm-main-menu[menu-type="full"] md-card:hover:not([disabled]), prm-user-area md-fab-toolbar .md-fab-action-item .md-button:hover:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item .md-button:hover:not([disabled]), prm-user-area md-fab-toolbar .md-fab-action-item md-input-container:hover:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container:hover:not([disabled]), .md-button.button-over-dark:hover:not([disabled]), prm-user-area .md-button.user-menu-button:hover:not([disabled]), prm-topbar .md-button:hover:not([disabled]), .hoverable-over-dark:focus:not([disabled]), prm-main-menu[menu-type="full"] .md-button:focus:not([disabled]), prm-main-menu[menu-type="full"] .md-button md-select:focus:not([disabled]), prm-main-menu[menu-type="full"] .md-button .md-input-container-dummy > .md-select-dummy:focus:not([disabled]), prm-main-menu[menu-type="full"] .overlay-menu-item:focus:not([disabled]), prm-main-menu[menu-type="full"] .overlay-menu-item md-select:focus:not([disabled]), prm-main-menu[menu-type="full"] .overlay-menu-item .md-input-container-dummy > .md-select-dummy:focus:not([disabled]), prm-main-menu[menu-type="full"] md-card:focus:not([disabled]), prm-user-area md-fab-toolbar .md-fab-action-item .md-button:focus:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item .md-button:focus:not([disabled]), prm-user-area md-fab-toolbar .md-fab-action-item md-input-container:focus:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container:focus:not([disabled]), .md-button.button-over-dark:focus:not([disabled]), prm-user-area .md-button.user-menu-button:focus:not([disabled]), prm-topbar .md-button:focus:not([disabled]), .hoverable-over-dark.hovered:not([disabled]), prm-main-menu[menu-type="full"] .hovered.md-button:not([disabled]):hover, prm-main-menu[menu-type="full"] .hovered.md-button:not([disabled]):focus, prm-main-menu[menu-type="full"] .hovered.md-button.md-focused:not([disabled]), prm-main-menu[menu-type="full"] .md-button md-select.hovered:not([disabled]):focus, prm-main-menu[menu-type="full"] .md-button .md-input-container-dummy > .hovered.md-select-dummy:not([disabled]):focus, prm-main-menu[menu-type="full"] .hovered.overlay-menu-item:not([disabled]):hover, prm-main-menu[menu-type="full"] .hovered.overlay-menu-item:not([disabled]):focus, prm-main-menu[menu-type="full"] .hovered.overlay-menu-item.md-focused:not([disabled]), prm-main-menu[menu-type="full"] .overlay-menu-item md-select.hovered:not([disabled]):focus, prm-main-menu[menu-type="full"] .overlay-menu-item .md-input-container-dummy > .hovered.md-select-dummy:not([disabled]):focus, prm-main-menu[menu-type="full"] md-card.hovered:not([disabled]):hover, prm-main-menu[menu-type="full"] md-card.hovered:not([disabled]):focus, prm-user-area md-fab-toolbar .md-fab-action-item .hovered.md-button:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item .hovered.md-button:not([disabled]), prm-user-area md-fab-toolbar .md-fab-action-item md-input-container.hovered:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container.hovered:not([disabled]), .hovered.md-button.button-over-dark:not([disabled]), prm-user-area .hovered.md-button.user-menu-button:not([disabled]), prm-topbar .hovered.md-button:not([disabled]), .hoverable-over-dark.md-focused:not([disabled]), prm-main-menu[menu-type="full"] .md-focused.md-button:not([disabled]), prm-main-menu[menu-type="full"] .md-button md-select.md-focused:not([disabled]):focus, prm-main-menu[menu-type="full"] .md-button .md-input-container-dummy > .md-focused.md-select-dummy:not([disabled]):focus, prm-main-menu[menu-type="full"] .md-focused.overlay-menu-item:not([disabled]), prm-main-menu[menu-type="full"] .overlay-menu-item md-select.md-focused:not([disabled]):focus, prm-main-menu[menu-type="full"] .overlay-menu-item .md-input-container-dummy > .md-focused.md-select-dummy:not([disabled]):focus, prm-main-menu[menu-type="full"] md-card.md-focused:not([disabled]):hover, prm-main-menu[menu-type="full"] md-card.md-focused:not([disabled]):focus, prm-user-area md-fab-toolbar .md-fab-action-item .md-focused.md-button:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item .md-focused.md-button:not([disabled]), prm-user-area md-fab-toolbar .md-fab-action-item md-input-container.md-focused:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container.md-focused:not([disabled]), .md-focused.md-button.button-over-dark:not([disabled]), prm-user-area .md-focused.md-button.user-menu-button:not([disabled]), prm-topbar .md-focused.md-button:not([disabled]), .hoverable-over-dark._md-focused:not([disabled]), prm-main-menu[menu-type="full"] ._md-focused.md-button:not([disabled]):hover, prm-main-menu[menu-type="full"] ._md-focused.md-button:not([disabled]):focus, prm-main-menu[menu-type="full"] ._md-focused.md-button.md-focused:not([disabled]), prm-main-menu[menu-type="full"] .md-button md-select._md-focused:not([disabled]):focus, prm-main-menu[menu-type="full"] .md-button .md-input-container-dummy > ._md-focused.md-select-dummy:not([disabled]):focus, prm-main-menu[menu-type="full"] ._md-focused.overlay-menu-item:not([disabled]):hover, prm-main-menu[menu-type="full"] ._md-focused.overlay-menu-item:not([disabled]):focus, prm-main-menu[menu-type="full"] ._md-focused.overlay-menu-item.md-focused:not([disabled]), prm-main-menu[menu-type="full"] .overlay-menu-item md-select._md-focused:not([disabled]):focus, prm-main-menu[menu-type="full"] .overlay-menu-item .md-input-container-dummy > ._md-focused.md-select-dummy:not([disabled]):focus, prm-main-menu[menu-type="full"] md-card._md-focused:not([disabled]):hover, prm-main-menu[menu-type="full"] md-card._md-focused:not([disabled]):focus, prm-user-area md-fab-toolbar .md-fab-action-item ._md-focused.md-button:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item ._md-focused.md-button:not([disabled]), prm-user-area md-fab-toolbar .md-fab-action-item md-input-container._md-focused:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container._md-focused:not([disabled]), ._md-focused.md-button.button-over-dark:not([disabled]), prm-user-area ._md-focused.md-button.user-menu-button:not([disabled]), prm-topbar ._md-focused.md-button:not([disabled]) {
    background-color: #eeeeee;
    color: #000 !important;
}

:not([disabled]).hoverable-over-dark:hover, prm-main-menu[menu-type='full'] :not([disabled]).md-button:hover, prm-main-menu[menu-type='full'] .md-button md-select:not([disabled]):hover:focus, prm-main-menu[menu-type='full'] .md-button .md-input-container-dummy > :not([disabled]).md-select-dummy:hover:focus, prm-main-menu[menu-type='full'] :not([disabled]).overlay-menu-item:hover, prm-main-menu[menu-type='full'] .overlay-menu-item md-select:not([disabled]):hover:focus, prm-main-menu[menu-type='full'] .overlay-menu-item .md-input-container-dummy > :not([disabled]).md-select-dummy:hover:focus, prm-main-menu[menu-type='full'] md-card:not([disabled]):hover, prm-user-area md-fab-toolbar .md-fab-action-item :not([disabled]).md-button:hover, prm-user-area md-fab-toolbar ._md-fab-action-item :not([disabled]).md-button:hover, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container:not([disabled]):hover, prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container:not([disabled]):hover, :not([disabled]).button-over-dark.md-button:hover, prm-user-area :not([disabled]).user-menu-button.md-button:hover, prm-topbar :not([disabled]).md-button:hover, :not([disabled]).hoverable-over-dark:focus, prm-main-menu[menu-type='full'] :not([disabled]).md-button:focus, prm-main-menu[menu-type='full'] .md-button md-select:not([disabled]):focus, prm-main-menu[menu-type='full'] .md-button .md-input-container-dummy > :not([disabled]).md-select-dummy:focus, prm-main-menu[menu-type='full'] :not([disabled]).overlay-menu-item:focus, prm-main-menu[menu-type='full'] .overlay-menu-item md-select:not([disabled]):focus, prm-main-menu[menu-type='full'] .overlay-menu-item .md-input-container-dummy > :not([disabled]).md-select-dummy:focus, prm-main-menu[menu-type='full'] md-card:not([disabled]):focus, prm-user-area md-fab-toolbar .md-fab-action-item :not([disabled]).md-button:focus, prm-user-area md-fab-toolbar ._md-fab-action-item :not([disabled]).md-button:focus, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container:not([disabled]):focus, prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container:not([disabled]):focus, :not([disabled]).button-over-dark.md-button:focus, prm-user-area :not([disabled]).user-menu-button.md-button:focus, prm-topbar :not([disabled]).md-button:focus, :not([disabled]).hovered.hoverable-over-dark, prm-main-menu[menu-type='full'] :not([disabled]).md-button.hovered:hover, prm-main-menu[menu-type='full'] :not([disabled]).md-button.hovered:focus, prm-main-menu[menu-type='full'] :not([disabled]).md-focused.md-button.hovered, prm-main-menu[menu-type='full'] .md-button md-select:not([disabled]).hovered:focus, prm-main-menu[menu-type='full'] .md-button .md-input-container-dummy > :not([disabled]).md-select-dummy.hovered:focus, prm-main-menu[menu-type='full'] :not([disabled]).overlay-menu-item.hovered:hover, prm-main-menu[menu-type='full'] :not([disabled]).overlay-menu-item.hovered:focus, prm-main-menu[menu-type='full'] :not([disabled]).md-focused.overlay-menu-item.hovered, prm-main-menu[menu-type='full'] .overlay-menu-item md-select:not([disabled]).hovered:focus, prm-main-menu[menu-type='full'] .overlay-menu-item .md-input-container-dummy > :not([disabled]).md-select-dummy.hovered:focus, prm-main-menu[menu-type='full'] md-card:not([disabled]).hovered:hover, prm-main-menu[menu-type='full'] md-card:not([disabled]).hovered:focus, prm-user-area md-fab-toolbar .md-fab-action-item :not([disabled]).md-button.hovered, prm-user-area md-fab-toolbar ._md-fab-action-item :not([disabled]).md-button.hovered, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container:not([disabled]).hovered, prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container:not([disabled]).hovered, :not([disabled]).button-over-dark.md-button.hovered, prm-user-area :not([disabled]).user-menu-button.md-button.hovered, prm-topbar :not([disabled]).md-button.hovered, :not([disabled]).md-focused.hoverable-over-dark, prm-main-menu[menu-type='full'] :not([disabled]).md-button.md-focused, prm-main-menu[menu-type='full'] .md-button md-select:not([disabled]).md-focused:focus, prm-main-menu[menu-type='full'] .md-button .md-input-container-dummy > :not([disabled]).md-select-dummy.md-focused:focus, prm-main-menu[menu-type='full'] :not([disabled]).overlay-menu-item.md-focused, prm-main-menu[menu-type='full'] .overlay-menu-item md-select:not([disabled]).md-focused:focus, prm-main-menu[menu-type='full'] .overlay-menu-item .md-input-container-dummy > :not([disabled]).md-select-dummy.md-focused:focus, prm-main-menu[menu-type='full'] md-card:not([disabled]).md-focused:hover, prm-main-menu[menu-type='full'] md-card:not([disabled]).md-focused:focus, prm-user-area md-fab-toolbar .md-fab-action-item :not([disabled]).md-button.md-focused, prm-user-area md-fab-toolbar ._md-fab-action-item :not([disabled]).md-button.md-focused, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container:not([disabled]).md-focused, prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container:not([disabled]).md-focused, :not([disabled]).button-over-dark.md-button.md-focused, prm-user-area :not([disabled]).user-menu-button.md-button.md-focused, prm-topbar :not([disabled]).md-button.md-focused, :not([disabled])._md-focused.hoverable-over-dark, prm-main-menu[menu-type='full'] :not([disabled]).md-button._md-focused:hover, prm-main-menu[menu-type='full'] :not([disabled]).md-button._md-focused:focus, prm-main-menu[menu-type='full'] :not([disabled]).md-focused.md-button._md-focused, prm-main-menu[menu-type='full'] .md-button md-select:not([disabled])._md-focused:focus, prm-main-menu[menu-type='full'] .md-button .md-input-container-dummy > :not([disabled]).md-select-dummy._md-focused:focus, prm-main-menu[menu-type='full'] :not([disabled]).overlay-menu-item._md-focused:hover, prm-main-menu[menu-type='full'] :not([disabled]).overlay-menu-item._md-focused:focus, prm-main-menu[menu-type='full'] :not([disabled]).md-focused.overlay-menu-item._md-focused, prm-main-menu[menu-type='full'] .overlay-menu-item md-select:not([disabled])._md-focused:focus, prm-main-menu[menu-type='full'] .overlay-menu-item .md-input-container-dummy > :not([disabled]).md-select-dummy._md-focused:focus, prm-main-menu[menu-type='full'] md-card:not([disabled])._md-focused:hover, prm-main-menu[menu-type='full'] md-card:not([disabled])._md-focused:focus, prm-user-area md-fab-toolbar .md-fab-action-item :not([disabled]).md-button._md-focused, prm-user-area md-fab-toolbar ._md-fab-action-item :not([disabled]).md-button._md-focused, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container:not([disabled])._md-focused, prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container:not([disabled])._md-focused, :not([disabled]).button-over-dark.md-button._md-focused, prm-user-area :not([disabled]).user-menu-button.md-button._md-focused, prm-topbar :not([disabled]).md-button._md-focused {
    background-color: #eeeeee;
    color: #000 !important;
}


/* change top menu itmes black on white */
prm-topbar .md-button {
    background-color: #fff;
    color: #000 !important;
}


/* make all icons black on white */
prm-icon md-icon{
.md-button.md-icon-button md-icon, button.md-button.md-fab md-icon
    background-color: #fff;
    color: #000 !important;
}

prm-search-bar .search-switch-buttons .md-button {
	color: #ff0033;
    background-color: white;
}

/*Guest button colour check*/
.prm-secondary-color, prm-search-bookmark-filter .md-button, prm-topbar .top-nav-bar {
    color: #FFFFFF;
}

/* changing link non mouse over color to red */
a, .arrow-link-button.md-button .button-content {
    color: #ff0033;
}


/*changing link over to grey*/
a:hover, .recommendations-title:hover > span > span, .hover.recommendations-title > span > span, .arrow-link-button.md-button .button-content:hover, a:focus, .arrow-link-button.md-button .button-content:focus, a.hover, .arrow-link-button.md-button .button-content.hover {
    color: #990033;
	background-color: #eeeeee;
}

/* change username to black (including "guest" on top bar) */
.user-name{color: #000  !important}

/* testing out codes to make top bar white even when mouse over*/
prm-topbar .md-button {
    background-color: #fff;
    color:#000!important;
}

md-fab-toolbar md-toolbar {
    background-color: #fff!important;
    color:#000!important!
}

.prm-secondary-color, prm-search-bookmark-filter .md-button, prm-topbar .top-nav-bar{
    color: #000;
}

/* button colours */
.md-button{
	color: black
}
.multi-line-button{
	color: black !important
}
.md-button.button-confirm{
	background-color: #990033 !important; color: white !important
}

/* moving the facets to the left */

prm-search > md-content.md-primoExplore-theme  {
    display: -webkit-flex; !* Safari *!
    -webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
    display: flex;
    flex-flow: row-reverse wrap;
}
.flex-gt-md-25.sidebar{
    webkit-flex: 0 0 15%;
    flex: 0 0 15%;
}
.main{
    webkit-flex: 0 0 65%;
    flex: 0 0 65%;
}
.layout-row>.flex-gt-lg-10{
    webkit-flex: 0 0 16%;
    flex: 0 0 16%;
    max-width: none;
}

/* Hiding language menu */
prm-change-lang {
  display: none;
}

